---
import Features2 from '~/components/widgets/Features2.astro';
import Features from '~/components/widgets/Features.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps from '~/components/widgets/Steps.astro';
import Layout from '~/layouts/PageLayout.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'MarTech Support | Oasis',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="MarTech for the modern era"
    actions={[{ variant:"primary", target: '_blank', text: 'Take the plunge', href: 'https://www.servicebell.com/jdbohrman' }]}
    image={{
      src: 'https://images.pexels.com/photos/2156993/pexels-photo-2156993.jpeg?auto=compress&cs=tinysrgb&w=1200',
      alt: 'Sand image',
    }}
  >
    <Fragment slot="title">
      Get a well-oiled toolset for<br />
      <span class="text-[#FC4C69] dark:text-white highlight">efficient marketing operations</span>
    </Fragment>

    <Fragment slot="subtitle">
      We can help you get the most out of your technical stack. Whether you need a few automations set up, or a deeper relationship with your data, we have a solution for you.
    </Fragment>
  </Hero>

  <!-- Stats Widget ****************** -->



  <!-- Features3 Widget ************** -->

  <Features
    title="Our approach"
    subtitle="We take a templated process and apply it to your businesses unique transformation needs. Whether you need a few automations set up, or a deeper relationship with your data, we have a solution for you."
    columns={3}
    isBeforeContent={true}
    items={[
      {
        title: 'Process Automation',
        description:
          'Let us help you automate your business processes. We can help you identify the right processes to automate, and then implement the right tools to make it happen.',
        icon: 'tabler:bolt',
      },
      {
        title: 'First-party Analytics',
        description:
          'Bring your tracking habits  in line with new privacy regulations. We can help you set up first-party tracking and analytics to keep your data in your hands.',
        icon: 'tabler:cookie-off',
      },
      {
        title: 'Chatbots',
        description:
          'We can help you set up chatbots to help your customers get the information they need, when they need it. ',
        icon: 'tabler:robot',
      },
      {
        title: 'Data Engineering',
        description:
          'We can help you set up a data pipeline that will help you get the most out of your data. ',
        icon: 'tabler:robot',
      },
      {
        title: 'SMS Marketing',
        description:
          'We can help you set up a SMS marketing campaign that will help you reach your customers where they are.',
        icon: 'tabler:device-mobile-message',
      },
      {
        title: 'Tooling Audits',
        description:
          'We can help you audit your current tooling and make recommendations for how to improve your technical stack.',
        icon: 'tabler:tool',
      },
    ]}
  />


  <!-- Steps2 Widget ****************** -->

  <Steps
    title="Your teams MarTech makeover is only a few steps away"
    items={[
      {
        title: 'Step 1: <span class="font-medium">Schedule a call</span>',
        description:
          "Schedule a time to discuss your business's needs and aspirations so we can tailor a solution that fits like a glove.",
        icon: 'tabler:calendar',
      },
      {
        title: 'Step 2: <span class="font-medium">Choose a plan</em>',
        description:
          "Select a package that fits your business's needs. We have a range of options to fit any budget.",
        icon: 'tabler:tags',
      },
      {
        title: 'Step 3: <span class="font-medium">Enter Client Portal</span>',
        description:
          'Once you have selected a plan, you will be given access to our client portal where you can track the progress of your transformation.',
        icon: 'tabler:spiral',
      },
      {
        title: 'Ready!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.pexels.com/photos/10180294/pexels-photo-10180294.jpeg?auto=compress&cs=tinysrgb&w=1200',
      alt: 'Steps image',
    }}
  />

  <CallToAction
  actions={[
    {
      variant: 'primary',
      icon: 'tabler:phone',
      text: 'Schedule a call',
      href: 'https://www.servicebell.com/jdbohrman',
      target: '_blank',
    },
  ]}
>
  <Fragment slot="title">
    Schedule a consultation</span>
  </Fragment>

  <Fragment slot="subtitle">
    Learn how we can drive tangible ROI through our technical expertise
  </Fragment>
</CallToAction>
  <!-- Features2 Widget ************** -->

</Layout>