---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Features from '~/components/widgets/Features.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Content from '~/components/widgets/Content.astro';
import Prices from '~/components/widgets/Pricing.astro';

import { headerData } from '~/navigation';
import FAQs from '~/components/widgets/FAQs.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Process Automation as a Service | Oasis',
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header
      {...headerData}
      actions={[
        {
          variant: 'secondary',
          text: 'Schedule a free consultation',
          href: '/schedule-a-demo',
        },
      ]}
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero2
    tagline="On-Demand Chatbots, SMS Marketing, and Automation"
    actions={[
      { variant: 'primary', id:'process-automation-hero', target: '_black', text: 'Calculate potential savings', href: '/calculators/automation-savings' },
    ]}
    image={{
      src: 'https://images.pexels.com/photos/9251624/pexels-photo-9251624.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2',
      alt: 'Oasis Hero Image',
    }}
  >
    <Fragment slot="title">
      Abstract away the tasks that are holding back your business
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        We can help you turn your business into a well-oiled machine by automating repetitive tasks and reaching your customers where they are.
    </Fragment>
  </Hero2>

  <!-- Features Widget *************** -->

  <Features
    id="services"
    title="What we can provide"
    subtitle="We've automated almost any task your can imagine, and we can help you do the same. Here are a few examples of what we can do for you."
    columns={2}
    items={[
      {
        title: 'SMS Marketing',
        description:
          'We can help you set up an SMS marketing campaign that will help you reach your customers where they are.',
        icon: 'tabler:message',
      },
      {
        title: 'Data Entry',
        description: `We can help you automate your data entry processes to make your business more efficient.`,
        icon: 'tabler:database',
      },
      {
        title: 'Website Chatbots',
        description:
          'We can help you set up a chatbot on your website that will help you engage with your customers.',
        icon: 'tabler:robot',
      },
      {
        title: 'Billing Automation',
        description: `We can help you automate your billing processes to make your business more efficient.`,
        icon: 'tabler:cash',
      },
      {
        title: 'Notification Infrastructure',
        description:
          'We can help you set up a notification infrastructure that will help you stay informed about your business.',
        icon: 'tabler:robot',
      },
      {
        title: 'Lead Routing',
        description: `We can help you automate your lead routing processes to help your sales team do what they do best.`,
        icon: 'tabler:headset',
      },
    ]}
  />
<!-- 
  <Prices
  prices={[
    {
      title: 'Tooling Audit',
      subtitle: 'Learn the landscape',
      price: ["$2500"],
      period: 'Flat Rate',
      items: [
        {
          description: 'Dedicated client portal',
        },
        {
          description: 'Get a 6 month roadmap to better tooling',
        },
        {
          description: 'Exclusive discounts from our partners',
        },
        {
          description: '5 free hours of maintenance',
        },
      ],
      callToAction: {
        id: 'audit-cta',
        text: 'Schedule a call',
        href: 'https://calendly.com/getoasis',
      },
    },
    {
      title: 'Audit + Implementation',
      subtitle: 'Implement the landscape',
      price: ["$2300"],
      period: 'Flat Rate + $600/mo for 6 months',
      items: [
        {
          description: 'Everything from the audit package', 
        },
        {
          description: 'White glove implemetation',
        },
        {
          description: '6 months of maintenance',
        },
        {
          description: 'Dedicated account manager',
        },
      ],
      callToAction: {
        id: 'audit-implementation-cta',
        text: 'Schedule a call',
        href: 'https://calendly.com/getoasis',
      },
      hasRibbon: true,
      ribbonTitle: 'popular',
    },
    {
      title: 'Custom Work',
      subtitle: 'We do custom work too!',
      price: ["Contact Us"],
      period: 'Custom Pricing | Installment Plan Available',
      items: [
        {
          description: 'Anything you need, we can do it!', 
        },
        {
          description: 'We can help you build a custom plan for your business',
        },
        {
          description: 'Rocket your business to the next level',
        },
        {
          description: 'You get a dedicated account manager',
        },
      ],
      callToAction: {
        id: 'custom-work-cta',
        text: 'Schedule a call',
        href: 'https://calendly.com/getoasis',
      },
    },
  ]}
/>-->


<!--
  <Content
  isAfterContent
  items={[
    {
      title: 'Description:',
      description:
        'Portcullis is a modern client portal that allows you to collaborate with your clients in a secure and private environment. It is designed to be a white-label solution that you can customize to match your brand.',
    },
    {
      title: 'Benefits:',
      description: `Allows service agencies and freelancers to collaborate with their clients in a secure and private environment while maintaining their brand identity. <br /> Provides a modern and intuitive user experience that is easy to use for both clients and service providers. <br /> Provides a secure and private environment for clients to share sensitive information with their service providers.`,
    },
  ]}
  image={{
    src: '~/assets/images/portcullis.png',
    alt: 'Startup Image',
  }}
>
  <Fragment slot="content">
    <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
      Project #1 <br /><span class="text-2xl">Portcullis: The Client Portal that doesn't sacrifice</span>
    </h3>
  </Fragment>

  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</Content>-->

  <!-- Pricing Widget *******************

  <Pricing
    title="Flexible pricing plans"
    prices={[
      {
        title: 'free',
        subtitle: 'Access to core features and a wide range of templates',
        price: '0',
        period: '/ month',
        callToAction: {
          target: '_blank',
          text: 'Get Started for Free',
          href: '#',
        },
      },
      {
        title: 'pro',
        subtitle: 'Premium templates and advanced customization',
        price: 15,
        period: '/ Month',
        callToAction: {
          target: '_blank',
          text: 'Upgrade to Pro',
          href: '#',
        },
        hasRibbon: true,
        ribbonTitle: 'popular',
      },
      {
        title: 'Enterprise',
        subtitle: 'Tailored solutions for large-scale projects',
        price: 45,
        period: '/ Month',
        callToAction: {
          target: '_blank',
          text: 'Unlock Enterprise Features',
          href: '#',
        },
      },
    ]}
  />-->

  <!-- FAQs Widget

  <FAQs
    title="Frequently Asked Questions"
    items={[
      {
        title: 'Why not just use Slack?',
        description:
          'Slack is a great tool, but it has a few big drawbacks. First, it lacks account mapping abilities that creating an Oasis would provide. Second, its not brandable. With an Oasis, you can customize the look and feel to match your brand.',
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'How many partners can I bring into the platform?',
        description: `We are still trying to get a feel for how much scale we can handle at our first stage of development, so once we launch we will have a cap on 300 partners in a single ecosystem.`,
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'When are you planning to launch?',
        description:
          'Good question! We plan to launch our first version os Oasis before the first of the new year. If you want to be notified when we launch, please sign up for the waitlist.',
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Are you looking for partners?',
        description: `Absolutely, right now we're looking for tech partners to help us build out our integrations. If you're interested, please reach out to us`,
        icon: 'tabler:chevrons-right',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-page dark:bg-transparent"></div>
    </Fragment>
  </FAQs> -->

  
  <CallToAction
    actions={[
      {
        variant: 'primary',
        id: 'process-automation-cta',
        text: 'Schedule a consultation',
        href: '/schedule-a-demo',
        target: '_blank',
      },
    ]}
  >
    <Fragment slot="title">
        Ready to get started?
    </Fragment>

    <Fragment slot="subtitle">
        <span class="hidden sm:inline">
            Schedule a free consultation with one of our technical experts to see how we can help your business grow.
        </span>
    </Fragment>
  </CallToAction>

  <!-- Steps2 Widget ****************** -->
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-[#FFEDF4] dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
