---
---

<div
  class="text-muted text-sm bg-[#FD97A8] dark:bg-transparent dark:border-b dark:border-slate-800 dark:text-slate-400 hidden md:block overflow-hidden px-3 py-2 relative text-ellipsis whitespace-nowrap"
>

  <a href="https://join.slack.com/t/navigatorsbyoasis/shared_invite/zt-2d02kz3x0-4wjfbnt6efdhXXt_OFH1dw" class="text-muted hover:underline dark:text-slate-400 font-medium"
    >Join The Navigators™️ | A Technical Enablement Community Powered by Oasis </a
  >
</div>