---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import Contact from '~/components/widgets/Contact.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import TypeIt from "typeit";

const metadata = {
  title: 'Subscription-based technical consulting | Oasis',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
  >
    <Fragment slot="title">
      Subscription-based <span class="text-[#FC4C69] typewriter"></span> support
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
       Oasis is the only team that provides process automation consulting wrapped neatly into a monthly subscription
       <form action="https://getform.io/f/xboM1Beg" method="POST">
        <div class="mx-auto max-w-2xl sm:flex sm:space-x-3 p-1 bg-white border rounded-lg shadow-lg shadow-gray-100 dark:bg-slate-900 dark:border-gray-700 dark:shadow-gray-900/[.2]">
          <div class="pb-2 sm:pb-0 sm:flex-[1_0_0%]">
            <label for="hs-hero-name-1" class="block text-sm font-medium dark:text-white"><span class="sr-only">Your name</span></label>
            <input name="name" type="text" id="hs-hero-name-1" class="py-3 px-4 block w-full border-transparent rounded-lg text-sm focus:border-[#FC4C69] focus:ring-[#FC4C69] dark:bg-slate-900 dark:border-transparent dark:text-gray-400 dark:focus:ring-gray-600" placeholder="Your name">
          </div>
          <div class="pt-2 sm:pt-0 sm:ps-3 border-t border-gray-200 sm:border-t-0 sm:border-s sm:flex-[1_0_0%] dark:border-gray-700">
            <label for="hs-hero-email-1" class="block text-sm font-medium dark:text-white"><span class="sr-only">Your email address</span></label>
            <input  name="email" type="email" id="hs-hero-email-1" class="py-3 px-4 block w-full border-transparent rounded-lg text-sm focus:border-[#FC4C69] focus:[#FC4C69] dark:bg-slate-900 dark:border-transparent dark:text-gray-400 dark:focus:ring-gray-600" placeholder="Your email address">
          </div>
          <div class="pt-2 my-auto sm:pt-0 grid sm:block sm:flex-[0_0_auto]">
            <button type="submit" class="py-2 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-[#FC4C69] text-white hover:bg-[#FC4C69] disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
              Get started
            </button>
          </div>
        </div>
      </form>
    </Fragment>
  </Hero>
  <!-- Features Widget *************** -->

  <Features
    id="vision"
    tagline="The Vision"
    title="What type of value does Oasis provide?"
    subtitle="We provide a swiss army knife of technical expertise to help you scale and modernize your business"
    items={[
      {
        title: 'Technical Enablement',
        description:
          'We can help enable your team with the resources and tools to thrive in the modern digital economy',
        icon: 'tabler:tools',
      },
      {
        title: 'Process Automation',
        description:
          'We help you automate your business processes to help you scale your business',
        icon: 'tabler:settings',
      },
      {
        title: 'Business 3.0',
        description:
          'We can help you understand this new era of business and how to thrive in it',
        icon: 'tabler:world',
      },
      {
        title: 'Turnkey Solutions',
        description:
          'We offer turnkey solutions to help you get your new digital initiatives off the ground quickly',
        icon: 'tabler:key',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Step into the Oasis"
    title="Leave the desert of technical debt behind"
    items={[
      {
        title: 'Client Portal',
        description:
          'We offer a client portal that allows you to see the progress of your project in real-time',
      },
      {
        title: 'Transparent Fees and pricing',
        description:
          'We offer transparent pricing and fees for all of our services, so you know exactly what you are paying for',
      },
      {
        title: 'Constant Communication',
        description:
          'We offer constant communication with our clients to ensure that they are always in the loop',
      },
    ]}
    image={{
      src: 'https://images.pexels.com/photos/1595656/pexels-photo-1595656.jpeg?auto=compress&cs=tinysrgb&w=1200',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Our consulting model drives tangible ROI  through our expertise</h3>
      Here's some of things all of our clients can expect by default:
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-page dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->



  <Steps
    title="Solve your technical debt in 3 easy steps"
    items={[
      {
        title: 'Step 1: <span class="font-medium">Schedule a consultation</span>',
        description:
          "Start the process by scheduling a chat with one of our team members, so we can begin laying out a roadmap for success.",
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Choose a package</em>',
        description:
          "Once we've discovered there's a mutual fit, we'll help you choose a customized package that fits your needs and budget.",
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Schedule Launch Session</span>',
        description:
          'Once all the legal stuff is out of the way and we have your first payment, we will schedule a launch session to kick off the engagement.',
        icon: 'tabler:paint',
      },
      {
        title: 'Ready!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.pexels.com/photos/1595656/pexels-photo-1595656.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2',
      alt: 'Steps image',
    }}
  />


  <Features2
    title="Our Operational Stack"
    subtitle="Business in the modern workforce need the right tools to succeed"
    tagline="The Tools 🛠"
    items={[
      {
        title: 'Twilio Segment',
        description: "Our go-to tool for building complex data pipelines is Segment",
        icon: 'tabler:brand-twilio',
      },
      {
        title: 'Google Analytics',
        description:
          "We love Google Analytics for it's ability to provide deep insights into our client's businesses",
        icon: 'tabler:brand-google-analytics',
      },
      {
        title: 'Clearbit',
        description:
          'Clearbit is our go-to tool for building enrichment processes for our clients',
        icon: 'tabler:zoom-money',
      },
      {
        title: 'Zapier',
        description:
          "We love Zapier for it's ability to automate complex business processes",
        icon: 'tabler:brand-zapier',
      },
      {
        title: 'Hubspot',
        description:
          'Our CRM of choice is Hubspot, it provides a great platform for our clients to manage their sales and marketing efforts',
        icon: 'tabler:database',
      },
      {
        title: 'Intercom',
        description: 'We love to help our clients build great customer experiences with Intercom',
        icon: 'tabler:brand-intercom',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-[#FFEDF4] dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Let us help you modernize your business to compete in the new digital economy"
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why do I need technical consulting?',
        description:
          "Today, tools like automated support via chatbots and workflow automation are becoming table stakes for businesses. We can help you understand how to leverage these tools to drive tangible ROI for your business.",
      },
      {
        title: 'When is the right time to modernize?',
        description:
          "Yesterday was the best time to modernize, but today is the next best time. The longer you wait, the more technical debt you will accumulate, and the harder it will be to modernize.",
      },
      {
        title: 'What is the difference between Oasis and other consulting firms?',
        description:
          'Oasis operates on a consulting-as-a-service model that allows us to provide a concierge level of service to our clients. We are one of the only teams that provides CaaS technical consulting wrapped neatly into a transparent monthly subscription.',
      },
      {
        title: 'What tools do you support?',
        description:
          "We can figure out a solution with almost any tool under the sun, but quite often if the toolchain you are using is not the best fit for your business, we will recommend a change.",
      },
      {
        title: "What's the pricing?",
        description:
          "We offer a variety of packages to fit your needs and budget. We also offer a la carte services for those who need a little extra help.",
      },
      {
        title: 'How does the process work?',
        description:
          "The process is simple. Schedule a consultation, choose a package, and schedule a launch session. Once we have your first payment, we will begin the engagement.",
      },
    ]}
  />

  <!-- Stats Widget ******************

  <Stats
    stats={[
      { title: 'Downloads', amount: '132K' },
      { title: 'Stars', amount: '24.8K' },
      { title: 'Forks', amount: '10.3K' },
      { title: 'Users', amount: '48.4K' },
    ]}
  />-->

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        id: 'home-cta',
        icon: 'tabler:arrow-right',
        text: 'Get Started',
        href: '/schedule-a-demo',
        target: '_blank',
      },
    ]}
  >
    <Fragment slot="title">
      Schedule a consultation</span>
    </Fragment>

    <Fragment slot="subtitle">
      Learn how we can drive tangible ROI through our technical expertise
    </Fragment>
  </CallToAction>
</Layout>
