---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import Prices from '~/components/widgets/Pricing.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Steps from '~/components/widgets/Steps.astro';
import Features3 from '~/components/widgets/Features3.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Our Transparent Pricing - Oasis',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widg    et ******************* -->

  <HeroText
    tagline="Let us be your guide"
    title="Transparent and flexible options for every business stage"
    subtitle="Or choose an individual package to suit your needs. We offer a range of options to help you improve your processes and grow your business."
  />

  <!-- Pricing Widget ******************* -->

  <Prices
    prices={[
      {
        title: 'Automations',
        subtitle: 'Volume-based automation',
        price: ["$105"],
        period: 'Per Month | Per Process',
        items: [
          {
            description: 'Volume-based pricing',
          },
          {
            description: 'Zapier, n8n, or Make',
          },
          {
            description: '1 Education Session',
          },
          {
            description: 'Concierge Support',
          },
        ],
        callToAction: {
          id: 'process-automations',
          text: 'Order now',
          icon: 'tabler:shopping-cart',
          href: 'https://buy.stripe.com/fZedU1gdQbs26Pe8wB',
        },
      },
      {
        title: 'Chatbots',
        subtitle: 'Managed chatbot support',
        price: ["$1200"],
        period: 'Flat Rate | Per Chatbot',
        items: [
          {
            description: 'Basic chatbot setup',
          },
          {
            description: 'Intercom, Drift, or other chatbot',
          },
          {
            description: 'CRM Integration',
          },
          {
            description: 'Automations not included',
          },
        ],
        callToAction: {
          id: 'glass-package',
          text: 'Order now',
          icon: 'tabler:shopping-cart',
          href: 'https://buy.stripe.com/bIY4jrbXAanY1uU9AG',
        },
        hasRibbon: true,
        ribbonTitle: 'popular',
      },
      {
        title: 'AI Bundle',
        subtitle: 'The pinnacle of innovation',
        price: ["Custom"],
        period: 'Custom Pricing | Per Project',
        items: [
          {
            description: 'Custom AI solutions',
          },
          {
            description: 'Complex workflows with n8n',
          },
          {
            description: 'Ask questions of your data',
          },
          {
            description: 'Concierge Support',
          },
        ],
        callToAction: {
          id: 'diamond-package',
          text: 'Book a call',
          icon: 'tabler:calendar',
          href: '/schedule-a-demo',
        },
      },
    ]}
  />
<!--
  <h2 class="text-4xl sm:text-3xl text-center mx-auto font-bold text-gray-800 dark:text-gray-200">Individual Packages</h2>
  <p class="text-center my-4 mx-auto text-gray-600 dark:text-gray-400">Choose from a range of individual packages to suit your needs.</p>
  

  <p class="text-center my-4 mx-auto text-gray-600 dark:text-gray-400">*Price does not include travel expenses</p>
  <div class="container mx-auto px-4">
    <table class="table-fixed w-full rounded-lg shadow-md">
        <tbody>
            <tr>
                <td class="border-b px-4 py-2 text-left text-sm font-medium dark:text-white">Business Automation</td>
                <td class="border-b px-4 hidden sm:table-cell py-2 text-left text-sm dark:text-white ">Volume-based process automation</td>
                <td class="border-b px-4 py-2 text-right text-sm dark:text-white font-bold">$105 per process</td>
                <td class="border-b px-4 py-2 text-right text-sm">
                  <a href="https://portal.getoasis.io/login?step=signUp" class="inline-block px-3 py-1.5 rounded-full bg-[#FC4C69] text-black hover:bg-[#941c31] text-xs sm:text-sm md:text-base text-center">Get started</a>
              </td> 
            </tr>
            <tr>
              <td class="border-b px-4 py-2 text-left text-sm font-medium dark:text-white">Analytics Support</td>
              <td class="border-b px-4 hidden sm:table-cell py-2 text-left text-sm dark:text-white ">Comprehensive data support</td>
              <td class="border-b px-4 py-2 text-right text-sm dark:text-white font-bold">$1800 flat rate</td>
              <td class="border-b px-4 py-2 text-right text-sm">
                <a href="https://portal.getoasis.io/login?step=signUp" class="inline-block px-3 py-1.5 rounded-full bg-[#FC4C69] text-black hover:bg-[#941c31] text-xs sm:text-sm md:text-base text-center">Get started</a>
            </td> 
            </tr>
            <tr>
              <td class="border-b px-4 py-2 text-left text-sm font-medium dark:text-white">Chatbot Management</td>
              <td class="border-b px-4 hidden sm:table-cell py-2 text-left text-sm dark:text-white ">Intercom, Drift, or other chatbot implementation and support</td>
              <td class="border-b px-4 py-2 text-right text-sm dark:text-white font-bold">$1200 flat rate</td>
              <td class="border-b px-4 py-2 text-right text-sm">
                <a href="https://portal.getoasis.io/login?step=signUp" class="inline-block px-3 py-1.5 rounded-full bg-[#FC4C69] text-black hover:bg-[#941c31] text-xs sm:text-sm md:text-base text-center">Get started</a>
            </td> 
            </tr>
        </tbody>
    </table>
</div> -->

  <Features3
    title="Processes that make collaboration a breeze"
    subtitle="We have set up processes that make your client experience seamless and efficient. Here are some of the features that make it possible."
    columns={2}
    items={[
      {
        title: 'Client Portal',
        description: 'Hop into our dedicated client portal to chat with us and get updates on your projects.',
        icon: 'tabler:spiral',
      },
      {
        title: 'Daily Updates',
        description: 'Get daily updates on your projects and support requests.',
        icon: 'tabler:bell',
      },
      {
        title: 'Flexible Scope',
        description: 'Change the scope of your projects and support requests as your business grows.',
        icon: 'tabler:layout-list',
      },
      {
        title: 'Education & Training',
        description: `Get educated on the tools and processes we use to support your business. We also offer training sessions.`,
        icon: 'tabler:book',
      },
      {
        title: 'Painless Billing',
        description: 'We offer transparent billing and invoicing, so you know exactly what you are paying for.',
        icon: 'tabler:sparkles',
      },
      {
        title: '24/7 Customer Support',
        description: 'Questions answered via live chat, email or phone, every calendar day.',
        icon: 'tabler:headset',
      },
    ]}
    classes={{ container: 'max-w-5xl' }}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    title="You're only a few steps away from better processes"
    tagline="simplified process"
    isReversed={true}
    items={[
      {
        title: 'Schedule a Call',
        icon: 'tabler:number-1',
      },
      {
        title: 'Choose a Plan',
        icon: 'tabler:number-2',
      },
      {
        title: 'Recieve Portal Invite',
        icon: 'tabler:number-3',
      },
      {
        title: 'Enter Billing Details',
        icon: 'tabler:number-4',
      },
      {
        title: 'Start the Projects!',
        icon: 'tabler:number-5',
      },
    ]}
    image={{
      src: 'https://images.pexels.com/photos/3876399/pexels-photo-3876399.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2',
      alt: 'Steps image',
    }}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Pricing FAQs"
    subtitle="Choosing the right plan is important, and we're here to answer your questions. If you have queries about our pricing options, you're in the right place."
    columns={1}
    items={[
      {
        title: 'What is a token?',
        description:
          'A token is a unit of work that we use to measure the complexity of a project. We categorize projects into three levels: simple, mid-level, and advanced. Each plan comes with a set number of tokens for each level. ',
      },
      {
        title: 'What is a project',
        description:
          "A project is any task that requires more than 15 minutes of work.",
      },
      {
        title: 'What is a support hour?',
        description:
          'A support hour is the time we spend working on your projects or support requests. We track time in 15-minute increments, and you can use your support hours for any of our services.',
      },
      {
        title: 'Do my support hours carry over month to month?',
        description:
          'No. Support hours do not carry over from month to month. We recommend that you choose a plan that best suits your needs. If you need more hours, you can always upgrade your plan.',
      },
      {
        title: 'What tools do you support?',
        description:
          'Within reason, we can support almost any tool. We have experience with a wide range of tools and platforms, and we are always learning new ones.',
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    title="Ready to get started?"
    id="pricing-cta"
    subtitle="Schedule a demo to see how we can help you improve your processes."
    actions={[
      {
        variant: 'primary',
        text: 'Schedule a call',
        href: 'https://calendly.com/getoasis/30min',
      },
    ]}
  />
</Layout>