---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import Prices from '~/components/widgets/Pricing.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Steps from '~/components/widgets/Steps.astro';
import Features3 from '~/components/widgets/Features3.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Our Transparent Pricing - Oasis',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widg    et ******************* -->

  <HeroText
    tagline="Let us be your guide"
    title="Transparent and flexible options for every business stage"
    subtitle="It's easy to get started, we've made the process completely turnkey. Choose a plan that suits your needs and we'll take care of the rest."
  />

  <!-- Pricing Widget ******************* -->

<!-- Features -->
<div class="overflow-hidden">
  <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <!-- Title 
    <div class="mx-auto max-w-2xl mb-8 lg:mb-14 text-center">
      <h2 class="text-3xl lg:text-4xl text-gray-800 font-bold dark:text-gray-200">
        Solo, agency or team? We’ve got you covered.
      </h2>
    </div>
    <!-- End Title -->

    <div class="relative px-6 xl:w-10/12 xl:mx-auto">
      <!-- Grid -->
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 lg:gap-8">
        <div>
          <!-- Card -->
          <div class="p-4 relative z-10 bg-white border rounded-xl md:p-10 dark:bg-slate-900 dark:border-gray-700">
            <h3 class="text-xl font-bold text-gray-800 dark:text-gray-200">Sand Package 🏝</h3>
            <div class="text-sm text-gray-500">Your first grains of support</div>

            <div class="mt-5">
              <span class="text-6xl font-bold text-gray-800 dark:text-gray-200">$1200</span>
              <span class="text-lg font-bold text-gray-800 dark:text-gray-200">.00</span>
              <span class="ms-3 text-gray-500">USD / monthly</span>
            </div>

            <div class="mt-5 grid sm:grid-cols-2 gap-y-2 py-4 first:pt-0 last:pb-0 sm:gap-x-6 sm:gap-y-0">
              <!-- List -->
              <ul class="space-y-2 text-sm sm:text-base">
                <li class="flex space-x-3">
                  <span class="mt-0.5 size-5 flex justify-center items-center rounded-full bg-blue-50 text-[#FC4C69] dark:bg-blue-800/30 dark:text-[#FC4C69]">
                    <svg class="flex-shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                  </span>
                  <span class="text-gray-800 dark:text-gray-200">
                    3 concurrent requests
                  </span>
                </li>

                <li class="flex space-x-3">
                  <span class="mt-0.5 size-5 flex justify-center items-center rounded-full bg-blue-50 text-[#FC4C69] dark:bg-blue-800/30 dark:text-[#FC4C69]">
                    <svg class="flex-shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                  </span>
                  <span class="text-gray-800 dark:text-gray-200">
                    Automations
                  </span>
                </li>

                <li class="flex space-x-3">
                  <span class="mt-0.5 size-5 flex justify-center items-center rounded-full bg-blue-50 text-[#FC4C69] dark:bg-blue-800/30 dark:text-[#FC4C69]">
                    <svg class="flex-shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                  </span>
                  <span class="text-gray-800 dark:text-gray-200">
                    CDP Support
                  </span>
                </li>
              </ul>
              <!-- End List -->

              <!-- List -->
              <ul class="space-y-2 text-sm sm:text-base">
                <li class="flex space-x-3">
                  <span class="mt-0.5 size-5 flex justify-center items-center rounded-full bg-blue-50 text-[#FC4C69] dark:bg-blue-800/30 dark:text-[#FC4C69]">
                    <svg class="flex-shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                  </span>
                  <span class="text-gray-800 dark:text-gray-200">
                    Alerting 
                  </span>
                </li>

                <li class="flex space-x-3">
                  <span class="size-5 flex justify-center items-center rounded-full bg-gray-50 text-gray-500 dark:bg-gray-800">
                    <svg class="flex-shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
                  </span>
                  <span class="text-gray-800 dark:text-gray-200">
                    Custom Apps
                  </span>
                </li>

                <li class="flex space-x-3">
                  <span class="size-5 flex justify-center items-center rounded-full bg-gray-50 text-gray-500 dark:bg-gray-800">
                    <svg class="flex-shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
                  </span>
                  <span class="text-gray-800 dark:text-gray-200">
                    Privacy Controls
                  </span>
                </li>
              </ul>
              <!-- End List -->
            </div>

            <div class="mt-5 grid grid-cols-2 gap-x-4 py-4 first:pt-0 last:pb-0">
              <div>
                <p class="text-sm text-gray-500">Cancel anytime.</p>
                <p class="text-sm text-gray-500">No contracts required.</p>
              </div>

              <div class="flex justify-end">
                <button id="sand-package" type="button" class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"><a href="https://www.servicebell.com/jdbohrman">Get started</a></button>
              </div>
            </div>
          </div>
          <!-- End Card -->
        </div>

        <div>
          <!-- Card -->
          <div class="shadow-xl shadow-gray-200 p-5 relative z-10 bg-white border rounded-xl md:p-10 dark:bg-slate-900 dark:border-gray-700 dark:shadow-gray-900/[.2]">
            <h3 class="text-xl font-bold text-gray-800 dark:text-gray-200">Diamond Package 💎</h3>
            <div class="text-sm text-gray-500">The pinnacle of automation</div>
            <span class="absolute top-0 end-0 rounded-se-xl rounded-es-xl text-xs font-medium bg-gray-800 text-white py-1.5 px-3 dark:bg-white dark:text-gray-800">Most popular</span>

            <div class="mt-5">
              <span class="text-6xl font-bold text-gray-800 dark:text-gray-200">$2400</span>
              <span class="text-lg font-bold text-gray-800 dark:text-gray-200">.00</span>
              <span class="ms-3 text-gray-500">USD / monthly</span>
            </div>

            <div class="mt-5 grid sm:grid-cols-2 gap-y-2 py-4 first:pt-0 last:pb-0 sm:gap-x-6 sm:gap-y-0">
              <!-- List -->
              <ul class="space-y-2 text-sm sm:text-base">
                <li class="flex space-x-3">
                  <span class="mt-0.5 size-5 flex justify-center items-center rounded-full bg-blue-50 text-[#FC4C69] dark:bg-blue-800/30 dark:text-[#FC4C69]">
                    <svg class="flex-shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                  </span>
                  <span class="text-gray-800 dark:text-gray-200">
                    6 concurrent requests
                  </span>
                </li>

                <li class="flex space-x-3">
                  <span class="mt-0.5 size-5 flex justify-center items-center rounded-full bg-blue-50 text-[#FC4C69] dark:bg-blue-800/30 dark:text-[#FC4C69]">
                    <svg class="flex-shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                  </span>
                  <span class="text-gray-800 dark:text-gray-200">
                    Automations
                  </span>
                </li>

                <li class="flex space-x-3">
                  <span class="mt-0.5 size-5 flex justify-center items-center rounded-full bg-blue-50 text-[#FC4C69] dark:bg-blue-800/30 dark:text-[#FC4C69]">
                    <svg class="flex-shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                  </span>
                  <span class="text-gray-800 dark:text-gray-200">
                    CDP Support
                  </span>
                </li>
              </ul>
              <!-- End List -->

              <!-- List -->
              <ul class="space-y-2 text-sm sm:text-base">
                <li class="flex space-x-3">
                  <span class="mt-0.5 size-5 flex justify-center items-center rounded-full bg-blue-50 text-[#FC4C69] dark:bg-blue-800/30 dark:text-[#FC4C69]">
                    <svg class="flex-shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                  </span>
                  <span class="text-gray-800 dark:text-gray-200">
                    Alerting
                  </span>
                </li>

                <li class="flex space-x-3">
                  <span class="mt-0.5 size-5 flex justify-center items-center rounded-full bg-blue-50 text-[#FC4C69] dark:bg-blue-800/30 dark:text-[#FC4C69]">
                    <svg class="flex-shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                  </span>
                  <span class="text-gray-800 dark:text-gray-200">
                    Custom Apps
                  </span>
                </li>

                <li class="flex space-x-3">
                  <span class="mt-0.5 size-5 flex justify-center items-center rounded-ful bg-white text-[#FC4C69] dark:bg-blue-800/30 dark:text-[#FC4C69]">
                    <svg class="flex-shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                  </span>
                  <span class="text-gray-800 dark:text-gray-200">
                    Privacy Controls
                  </span>
                </li>
              </ul>
              <!-- End List -->
            </div>

            <div class="mt-5 grid grid-cols-2 gap-x-4 py-4 first:pt-0 last:pb-0">
              <div>
                <p class="text-sm text-gray-500">Cancel anytime.</p>
                <p class="text-sm text-gray-500">No contracts required.</p>
              </div>

              <div class="flex justify-end">
                <button id="diamond-package" type="button" class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-[#FC4C69] text-white hover:bg-[#FC4C69] disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"><a href="https://www.servicebell.com/jdbohrman">Get started</a></button>
              </div>
            </div>
          </div>
          <!-- End Card -->
        </div>
      </div>
      <!-- End Grid -->

      <!-- SVG Element -->
      <div class="hidden md:block absolute top-0 end-0 translate-y-16 translate-x-16">
        <svg class="w-16 h-auto text-orange-500" width="121" height="135" viewBox="0 0 121 135" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M5 16.4754C11.7688 27.4499 21.2452 57.3224 5 89.0164" stroke="currentColor" stroke-width="10" stroke-linecap="round"/>
          <path d="M33.6761 112.104C44.6984 98.1239 74.2618 57.6776 83.4821 5" stroke="currentColor" stroke-width="10" stroke-linecap="round"/>
          <path d="M50.5525 130C68.2064 127.495 110.731 117.541 116 78.0874" stroke="currentColor" stroke-width="10" stroke-linecap="round"/>
        </svg>
      </div>
      <!-- End SVG Element -->

      <!-- SVG Element -->
      <div class="hidden md:block absolute bottom-0 start-0 translate-y-16 -translate-x-16">
        <svg class="w-56 h-auto text-cyan-500" width="347" height="188" viewBox="0 0 347 188" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4 82.4591C54.7956 92.8751 30.9771 162.782 68.2065 181.385C112.642 203.59 127.943 78.57 122.161 25.5053C120.504 2.2376 93.4028 -8.11128 89.7468 25.5053C85.8633 61.2125 130.186 199.678 180.982 146.248L214.898 107.02C224.322 95.4118 242.9 79.2851 258.6 107.02C274.299 134.754 299.315 125.589 309.861 117.539L343 93.4426" stroke="currentColor" stroke-width="7" stroke-linecap="round"/>
        </svg>
      </div>
      <!-- End SVG Element -->
    </div>

    <div class="mt-7 text-center">
      <p class="text-xs text-gray-400">
        Prices in USD. Taxes may apply.
      </p>
    </div>
  </div>
</div>
<!-- End Features -->


    <!-- Button Group
    <div class="mt-8 md:mt-12 flex justify-center items-center gap-x-3">
      <p class="text-sm text-gray-500 dark:text-gray-400">
        Want to purchase individually?
      </p>

      <button type="button" class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"><a href="https://getoasis.spp.io/order/single-automation">
        Order Now
      </a></button>
    </div>
    <!-- End Button Group -->
  </div>
</div>
<!-- End Comparison Table -->
<!--
  <h2 class="text-4xl sm:text-3xl text-center mx-auto font-bold text-gray-800 dark:text-gray-200">Individual Packages</h2>
  <p class="text-center my-4 mx-auto text-gray-600 dark:text-gray-400">Choose from a range of individual packages to suit your needs.</p>
  

  <p class="text-center my-4 mx-auto text-gray-600 dark:text-gray-400">*Price does not include travel expenses</p>
  <div class="container mx-auto px-4">
    <table class="table-fixed w-full rounded-lg shadow-md">
        <tbody>
            <tr>
                <td class="border-b px-4 py-2 text-left text-sm font-medium dark:text-white">Business Automation</td>
                <td class="border-b px-4 hidden sm:table-cell py-2 text-left text-sm dark:text-white ">Volume-based process automation</td>
                <td class="border-b px-4 py-2 text-right text-sm dark:text-white font-bold">$105 per process</td>
                <td class="border-b px-4 py-2 text-right text-sm">
                  <a href="https://portal.getoasis.io/login?step=signUp" class="inline-block px-3 py-1.5 rounded-full bg-[#FC4C69] text-black hover:bg-[#941c31] text-xs sm:text-sm md:text-base text-center">Get started</a>
              </td> 
            </tr>
            <tr>
              <td class="border-b px-4 py-2 text-left text-sm font-medium dark:text-white">Analytics Support</td>
              <td class="border-b px-4 hidden sm:table-cell py-2 text-left text-sm dark:text-white ">Comprehensive data support</td>
              <td class="border-b px-4 py-2 text-right text-sm dark:text-white font-bold">$1800 flat rate</td>
              <td class="border-b px-4 py-2 text-right text-sm">
                <a href="https://portal.getoasis.io/login?step=signUp" class="inline-block px-3 py-1.5 rounded-full bg-[#FC4C69] text-black hover:bg-[#941c31] text-xs sm:text-sm md:text-base text-center">Get started</a>
            </td> 
            </tr>
            <tr>
              <td class="border-b px-4 py-2 text-left text-sm font-medium dark:text-white">Chatbot Management</td>
              <td class="border-b px-4 hidden sm:table-cell py-2 text-left text-sm dark:text-white ">Intercom, Drift, or other chatbot implementation and support</td>
              <td class="border-b px-4 py-2 text-right text-sm dark:text-white font-bold">$1200 flat rate</td>
              <td class="border-b px-4 py-2 text-right text-sm">
                <a href="https://portal.getoasis.io/login?step=signUp" class="inline-block px-3 py-1.5 rounded-full bg-[#FC4C69] text-black hover:bg-[#941c31] text-xs sm:text-sm md:text-base text-center">Get started</a>
            </td> 
            </tr>
        </tbody>
    </table>
</div> -->

  <Features3
    title="You'll see positive ROI in no time"
    subtitle="Within days of choosing a plan, you'll see the benifits of streamlined MarTech support. Here's what you can expect:"
    columns={2}
    items={[
      {
        title: 'Client Portal',
        description: 'Hop into our dedicated client portal to chat with us and get updates on your projects.',
        icon: 'tabler:spiral',
      },
      {
        title: 'Daily Updates',
        description: 'Get daily updates on your projects and support requests.',
        icon: 'tabler:bell',
      },
      {
        title: 'Keep your infrastructure',
        description: 'We set up the automations and give you the keys. You own the infrastructure.',
        icon: 'tabler:layout-list',
      },
      {
        title: 'Any integration platform',
        description: `We're experts in Zapier, n8n, Integromat, and more. We can work with any platform you choose.`,
        icon: 'tabler:brand-zapier',
      },
      {
        title: 'Painless Billing',
        description: 'We offer transparent billing and invoicing, so you know exactly what you are paying for.',
        icon: 'tabler:sparkles',
      },
      {
        title: '24/7 Customer Support',
        description: 'Questions answered via live chat, email or phone, every calendar day.',
        icon: 'tabler:headset',
      },
    ]}
    classes={{ container: 'max-w-5xl' }}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    title="You're only a few steps away abstracting away your manual processes."
    tagline="Simple and easy to get started."
    isReversed={true}
    items={[
      {
        title: 'Choose a plan',
        icon: 'tabler:number-1',
      },
      {
        title: 'Make your payment',
        icon: 'tabler:number-2',
      },
      {
        title: 'Fill out the intake form',
        icon: 'tabler:number-3',
      },
      {
        title: 'Choose your automations',
        icon: 'tabler:number-4',
      },
      {
        title: 'See the results!',
        icon: 'tabler:number-5',
      },
    ]}
    image={{
      src: 'https://images.pexels.com/photos/3876399/pexels-photo-3876399.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2',
      alt: 'Steps image',
    }}
  />

  <!-- FAQs Widget *******************

  <FAQs
    title="Pricing FAQs"
    subtitle="Choosing the right plan is important, and we're here to answer your questions. If you have queries about our pricing options, you're in the right place."
    columns={1}
    items={[
      {
        title: 'What is a token?',
        description:
          'A token is a unit of work that we use to measure the complexity of a project. We categorize projects into three levels: simple, mid-level, and advanced. Each plan comes with a set number of tokens for each level. ',
      },
      {
        title: 'What is a project',
        description:
          "A project is any task that requires more than 15 minutes of work.",
      },
      {
        title: 'What is a support hour?',
        description:
          'A support hour is the time we spend working on your projects or support requests. We track time in 15-minute increments, and you can use your support hours for any of our services.',
      },
      {
        title: 'Do my support hours carry over month to month?',
        description:
          'No. Support hours do not carry over from month to month. We recommend that you choose a plan that best suits your needs. If you need more hours, you can always upgrade your plan.',
      },
      {
        title: 'What tools do you support?',
        description:
          'Within reason, we can support almost any tool. We have experience with a wide range of tools and platforms, and we are always learning new ones.',
      },
    ]}
  />-->

  <!-- CallToAction Widget *********** -->

  <CallToAction
    title="Ready to get started?"
    id="pricing-cta"
    subtitle="Schedule a demo to see how we can help you improve your processes."
    actions={[
      {
        variant: 'primary',
        text: 'Schedule a call',
        href: 'https://www.servicebell.com/jdbohrman',
      },
    ]}
  />
</Layout>