---
import '~/assets/styles/tailwind.css';

import { I18N } from "~/utils/config";

import CommonMeta from '~/components/common/CommonMeta.astro';
import Favicons from '~/components/Favicons.astro';
import CustomStyles from "~/components/CustomStyles.astro"
import ApplyColorMode from "~/components/common/ApplyColorMode.astro"
import Metadata from '~/components/common/Metadata.astro';
import SiteVerification  from "~/components/common/SiteVerification.astro"
import Analytics  from "~/components/common/Analytics.astro"
import BasicScripts from '~/components/common/BasicScripts.astro';

import type { MetaData as MetaDataType } from '~/types';

export interface Props {
  metadata?: MetaDataType;
}
const { metadata = {} } = Astro.props;
const { language, textDirection } = I18N;
---

<!DOCTYPE html>
<html lang={language} dir={textDirection} class="2xl:text-[20px]">

  <head>
    <CommonMeta />
    <Favicons />
    <CustomStyles />
    <ApplyColorMode />
    <Metadata {...metadata} />
    <SiteVerification />
    <Analytics />
    <!-- Ortto uppercut capture code -->
<!-- Start of HubSpot Embed Code -->

<script id="warmly-script-loader" src="https://opps-widget.getwarmly.com/warmly.js?clientId=bf436a277bde9e37648d49f404444ef3" defer></script>
<script type="text/javascript">
  (function() {
      window.sib = {
          equeue: [],
          client_key: "ketcq7lj1snywf2bs7q6k6ul"
      };
      /* OPTIONAL: email for identify request*/
      // window.sib.email_id = 'example@domain.com';
      window.sendinblue = {};
      for (var j = ['track', 'identify', 'trackLink', 'page'], i = 0; i < j.length; i++) {
      (function(k) {
          window.sendinblue[k] = function() {
              var arg = Array.prototype.slice.call(arguments);
              (window.sib[k] || function() {
                      var t = {};
                      t[k] = arg;
                      window.sib.equeue.push(t);
                  })(arg[0], arg[1], arg[2]);
              };
          })(j[i]);
      }
      var n = document.createElement("script"),
          i = document.getElementsByTagName("script")[0];
          n.type = "text/javascript", n.id = "sendinblue-js",
          n.async = !0, n.src = "https://sibautomation.com/sa.js?key="+ window.sib.client_key,
          i.parentNode.insertBefore(n, i), window.sendinblue.page();
  })();
  </script>

<!-- Calendly badge widget begin -->
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
<script type="text/javascript">window.onload = function() { Calendly.initBadgeWidget({ url: 'https://calendly.com/getoasis/30min', text: 'Schedule time with us', color: '#fc4c69', textColor: '#ffffff', branding: true }); }</script>
<!-- Calendly badge widget end -->

  <!-- End Google Tag Manager (noscript) -->
  <noscript><iframe src="https://gtm.getoasis.io/ns.html?id=GTM-WSQ83B73"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<!-- Fathom - beautiful, simple website analytics -->
<script src="https://cdn.usefathom.com/script.js" data-site="BGWDUBTM" defer></script>
<!-- / Fathom -->
  </head>

  <body class="antialiased text-default bg-page tracking-tight">
    <slot />
    <BasicScripts />

    <style is:global>
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
