---
import '~/assets/styles/tailwind.css';

import { I18N } from "~/utils/config";

import CommonMeta from '~/components/common/CommonMeta.astro';
import Favicons from '~/components/Favicons.astro';
import CustomStyles from "~/components/CustomStyles.astro"
import ApplyColorMode from "~/components/common/ApplyColorMode.astro"
import Metadata from '~/components/common/Metadata.astro';
import SiteVerification  from "~/components/common/SiteVerification.astro"
import Analytics  from "~/components/common/Analytics.astro"
import BasicScripts from '~/components/common/BasicScripts.astro';

import type { MetaData as MetaDataType } from '~/types';

export interface Props {
  metadata?: MetaDataType;
}
const { metadata = {} } = Astro.props;
const { language, textDirection } = I18N;
---

<!DOCTYPE html>
<html lang={language} dir={textDirection} class="2xl:text-[20px]">

  <head>
    <CommonMeta />
    
    <Favicons />
    <CustomStyles />
    <ApplyColorMode />
    <Metadata {...metadata} />
    <SiteVerification />
    <Analytics />
    <!-- Ortto uppercut capture code -->
<!-- Start of HubSpot Embed Code -->
<!-- <script type="application/javascript">
  !function(w,d){function e(e,n){w.ServiceBell.q=w.ServiceBell.q||[],w.ServiceBell.q.push([e,n])}if(!w.ServiceBell){var i=function(n){for(var i=arguments.length,r=new Array(i>1?i-1:0),c=1;c<i;c++)r[c-1]=arguments[c];e(n,r)};["init","identify","dial","alert","bookMeeting","hide","show","expand","collapse","connect","disconnect"].forEach((function(r){i[r]=function(){for(var i=arguments.length,r=new Array(i),c=0;c<i;c++)r[c]=arguments[c];e(n,r)}})),w.ServiceBell=i}var s=d.createElement("script");s.id="service-bell-script",s.src="https://cdn.servicebell.com/main.js",s.async=1;var r=d.getElementsByTagName("script")[0];r.parentNode.insertBefore(s,r)}(window,document);
  ServiceBell("init", "7bc73213d6e0420294c658fcd7691339", { mode: "iframe-jit" });
</script> -->



<script type="application/javascript">
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:3858778,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>


<!-- Start of Sleeknote signup and lead generation tool - www.sleeknote.com
<script id="sleeknoteScript" type="text/javascript">
	(function () {
		var sleeknoteScriptTag = document.createElement("script");
		sleeknoteScriptTag.type = "text/javascript";
		sleeknoteScriptTag.charset = "utf-8";
		sleeknoteScriptTag.src = ("//sleeknotecustomerscripts.sleeknote.com/163111.js");
		var s = document.getElementById("sleeknoteScript");
		s.parentNode.insertBefore(sleeknoteScriptTag, s);
	})();
</script>

<!-- End of Sleeknote signup and lead generation tool - www.sleeknote.com -->
<!-- <script
  type="application/javascript"
  src="//static.klaviyo.com/onsite/js/klaviyo.js?company_id=SFhgzK"
></script> -->
<!-- Calendly badge widget begin
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
<script type="application/javascript">window.onload = function() { Calendly.initBadgeWidget({ url: 'https://calendly.com/getoasis/30min', text: 'Schedule time with us', color: '#fc4c69', textColor: '#ffffff', branding: true }); }</script>
<!-- Calendly badge widget end -->

<!-- Google Tag Manager (noscript) -->
<!-- <noscript><iframe src="https://gtm.getoasis.io/ns.html?id=GTM-WSQ83B73"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> -->
  <!-- End Google Tag Manager (noscript) -->


<!-- Fathom - beautiful, simple website analytics -->
<script src="https://cdn.usefathom.com/script.js" data-site="BGWDUBTM" defer></script>
<!-- / Fathom -->
  </head>

  <body class="antialiased text-default bg-page tracking-tight">
    <slot />
    <BasicScripts />

    <style is:global>
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
<script is:inline src="/node_modules/preline/dist/preline.js"></script>
